<!DOCTYPE html>
<html>
  <head>
    <title>S.I.M.O.N</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>S.I.M.O.N</h1>
      <a href="users/new">Create a new user</a>

    <p></p>
  </body>
</html>
