<!DOCTYPE html>
<html ng-app="moviesApp">
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="/javascripts/app.js"></script>
  </head>
  <body class="container">



    <br>
    <div class="page-header">
      <h1><%= title %></h1>
    </div>
    <div class="container" ng-controller="MyController as vm" >
      <div class="row text-center">

            <% if (user) { %>
              <form ng-submit="nm.submit()">
                <input ng-model="vm.input" id="findMovies" type="text" name="name" value="">
                <button ng-click="vm.showMovies()" id="displayMovies">Find</button>
              </form>
              <h3>{{vm.input}}</h3>
          <div class="thumbnails" >
            <div class="seachDiv">
              <div id="row" class="row">
                <div class="col-sm-7 col-md-3" ng-repeat="el in vm.allMovie">
                  <div ng-if="$index % 4 == 0"></div>
                  <div class="thumbnail">
                    <img id="poster" src="https://image.tmdb.org/t/p/w300{{el.poster_path}} " alt="...">
                    <div class="caption">
                      <p>{{el.title}}</p>
                      <p>Release Date: {{el.release_date}}</p>

                      <p><a href="#"></a>Links:</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


              <a href="/logout" class="btn btn-danger">Logout</a>
            <% } else { %>
              <a href="/login" class="btn btn-primary">Login</a>
              <a href="/register" class="btn btn-info">Register</a>
            <% } %>
          </div>

    </div>
  </div>
  </body>
</html>
