<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
   <link rel="stylesheet" href="/stylesheets/style.css">
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
   <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

   <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

  </head>
  <body>
    <h1>LOGIN</h1>
    <form class="login_form" action="/login" method="post" autocomplete="off">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" name="email" placeholder="email address">
        </div>
        <span class="help-block"></span>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input  type="password" class="form-control" name="password" placeholder="password">
        </div>
                  <!-- <span class="help-block">Password error</span> -->
                  <p>&nbsp;</p>
                  <% for( var i = 0; i < errmsgs.length; i++ ){%>
                    <p class="login_err_msg"> ** <%= errmsgs[i] %> **</p>
                  <% } %>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="name" value="login">Login</button>
      </form>
  </body>
</html>
