<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body class="container">
    <br>
    <div class="row jumbotron text-center">
      <h1><%= title %></h1>
    </div>
    <div class="row text-center">
      <div class="panel panel-default col-xs-4 col-xs-offset-4">
        <div class="panel-body">
          <img src="http://simpleicon.com/wp-content/uploads/lock-3.png" width="200">
            <h3><strong><%= user.username %></strong><br>has the keys!</h3>
        </div>
      </div>
    </div>
  </body>
</html>
