body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}


.container{
  background-color: black;
}

.page-header{
   color: yellow;
}

h3{
  color:yellow;
}

#poster{
  height:300px;
}
.thumbnail{
  background-color:black;
}
.caption{
  color:yellow;
}
